[submodule "server/cors-anywhere"]
	path = server/cors-anywhere
	url = https://github.com/Rob--W/cors-anywhere.git

[submodule "client/cors-anywhere"]
	path = client/cors-anywhere
	url = https://github.com/Rob--W/cors-anywhere.git
